---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.title }}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  <link href="./fontawesome/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <link href="./css/bulma.min.css" rel="stylesheet">
  <link href="./css/cv.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script defer src="./fontawesome/js/all.min.js"></script> -->
  <script defer src="{{ '/fontawesome/js/all.min.js' | relative_url }}"></script>
  <!-- <script defer src="{{ '/js/html2pdf.bundle.min.js' | relative_url }}"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{{ '/js/cv.js' | relative_url }}"></script>
</head>

<body id="cv-content">

  <!-- <img src="./fontawesome/svgs/brands/google.svg" alt="Icon" width="24" height="24"> -->

  <section class="has-text-black">
    <div class="container is-max-desktop">
      <div class="columns is-vcentered is-tablet">
        <div class="column">
          <h2 class="title is-2 has-text-centered-mobile">  <a href="{{ site.url }}">{{ site.name }}</a></h2>
          <h5 class="subtitle is-5 has-text-centered-mobile">{{ site.position }}</h5>
          <!-- <button id="save-pdf-button" class="button is-small" data-html2canvas-ignore="true" title="Click to open print dialog. Select 'Save as PDF' and set margins to 'Default' for best results.">Download CV</button> -->

        </div>
        <!-- <div class="column is-narrow portrait-column has-text-centered-mobile" data-html2canvas-ignore="true"> -->
        <div class="column is-narrow portrait-column has-text-centered-mobile">
          <img class="portrait-image" src="./images/portrait.jpg" alt="A portrait of Philipp Henzler" />
        </div>
        <div class="column has-text-right-tablet has-text-centered-mobile">
          <p>
            <a href="{{ site.url }}">
              <i class="fas fa-home"></i>
              {% assign url_parts = site.url | split: "//" %}
              {{ url_parts[1] }}
            </a>
          </p>
          <p>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fab fa-github"></i>
              {{ site.github_username }}
            </a>
          </p>
          <p>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fab fa-twitter"></i>
              {{ site.twitter_username }}
            </a>
          </p>
          <p>
            <a href="mailto:{{ site.email }}">
              <i class="fas fa-envelope"></i>
              {{ site.email }}
            </a>
          </p>
        </div>
      </div>

        
      <div class="content">
       
        <h3 class="title is-3 mb-3 mt-3">Employment</h3>
        {% for job in site.data.employment %}
          <div class="columns is-mobile is-multiline">
            <div class="column pb-0">
              <h4> {% if job.logo-image %} <img src="./images/{{job.logo-image}}" alt="{{job.company}} logo" style="width: 20px; height: 20px; vertical-align: middle;"> {% elsif job.fa-icon %} <i class="{% if job.icon-type %}fa-{{job.icon-type}}{% else %}fa-brands{% endif %} fa-{{job.fa-icon}}"></i> {% endif %} {{ job.company }}</h4>
            </div>
          </div>
          
          {% for role in job.roles %}
          <div class="columns is-mobile is-multiline pt-0 pl-2">
            <div class="column is-three-fifths pt-0 pb-0 ">
              <b>{{ role.title }}</b>, {{ role.description }}
            </div>
            <div class="column pt-0 pb-0">
              <i class="fas fa-map-marker-alt"></i> 
              {% assign location_parts = role.location | split: ', ' %}
              {{ location_parts[0] }}{% if location_parts[1] %} {% endif %}{% if location_parts[1] == 'USA' %}🇺🇸{% elsif location_parts[1] == 'UK' %}🇬🇧{% elsif location_parts[1] == 'GER' %}🇩🇪{% else %}{{ location_parts[1] }}{% endif %}
            </div>
            <div class="column has-text-right-tablet pt-0">
              {{ role.dates }}
            </div>
          </div>
          {% endfor %}
        {% endfor %}

        <h3 class="title is-3 mb-3 mt-3">Education</h3>
        {% for school in site.data.education %}
        <div class="columns is-mobile is-multiline">
          <div class="column is-three-fifths pb-0">
            <b>{{ school.degree }}</b> in <b>{{ school.subject }}</b> at <b>{{ school.university }}</b>
          </div>
          <div class="column pb-0">
            <i class="fas fa-map-marker-alt"></i> 
            {% assign location_parts = school.location | split: ', ' %}
            {{ location_parts[0] }}{% if location_parts[1] %} {% endif %}{% if location_parts[1] == 'USA' %}🇺🇸{% elsif location_parts[1] == 'UK' %}🇬🇧{% elsif location_parts[1] == 'GER' %}🇩🇪{% else %}{{ location_parts[1] }}{% endif %}
          </div>
          <div class="column has-text-right-tablet pb-0">
            {{ school.dates }}
          </div>
        </div>
        <div class="columns pl-2">
          <div class="column">
            {{ school.description }}
          </div>  
        </div>
        {% endfor %}
          
        <h3 class="title is-3 mb-3 mt-3">Product Impact</h3>
        {% for impact in site.data.product_impact %}
        <div class="columns is-mobile is-multiline">
          <div class="column is-three-fifths pb-0">
            <a href="{{ impact.project_page }}"><h4>{{ impact.title }}</h4></a>
          </div>
          <div class="column has-text-right-tablet pb-0">
            {{ impact.date }}
          </div>
        </div>
        <div class="columns pl-2">
          <div class="column pt-0">
            <b>{{ impact.product_name }}</b>, {{ impact.description }}
            {% if impact.project_page %}
            <a class="external-link" href="{{ impact.project_page }}">
              <i class="fas fa-globe"></i>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <h3 class="title is-3 mb-3 mt-3">Publications</h3>
        {% assign publication_count = site.data.publications.size %}
        {% for publication in site.data.publications %}
        {% assign pub_number = publication_count | minus: forloop.index0 %}
        <div class="columns is-mobile">
          <div class="column is-narrow pr-0">
            [{{ pub_number }}]
          </div>
          <div class="column">
            <a href="{{ publication.project_page }}"><b>{{ publication.title }}</b></a>  
            <div>
              {{ publication.venue }} 
              {% if publication.project_page %}
              <a class="external-link" href="https://arxiv.org/abs/{{ publication.project_page }}">
                <i class="fas fa-globe"></i>
              </a>
              {% endif %}
              {% if publication.arxiv %}
              <a class="external-link" href="https://arxiv.org/abs/{{ publication.arxiv }}">
                <i class="fas fa-file"></i>
              </a>
              {% endif %}
            </div>
            <div class="publication-authors">
              {% for author_id in publication.authors %}
              {% assign author = site.data.authors[author_id] %}
              <span class="author-block {% if author.is_me %}author-me{% endif %}">
                {% if author.is_me %}
                {{ author.first_name | slice: 0 }}. {% if author.middle_name %} {{ author.middle_name | slice: 0 }}. {% endif %} {{ author.last_name }}{% if forloop.last == false %},{%
                endif %}
                {% else %}
                <a href="{{ author.website }}">{{ author.first_name | slice: 0 }}. {% if author.middle_name %} {{ author.middle_name | slice: 0 }}. {% endif %} {{ author.last_name }}</a>{% if
                forloop.last == false %},{% endif %}
                {% endif %}
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

        <h3 class="title is-3 mb-3 mt-3">Awards</h3>
        {% for award in site.data.awards %}
        <div class="columns is-mobile is-multiline">
          <div class="column is-three-fifths pb-0">
            {{ award.name }}
          </div>
          <div class="column has-text-right-tablet pb-0">
            {{ award.year }}
          </div>
        </div>
        {% endfor %}
  
        <h3 class="title is-3 mb-3 mt-3">Professional Service</h3>
        {% for service in site.data.service %}
        <div class="columns is-mobile is-multiline">
          <div class="column pb-0">
            {{ service.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
</html>