
body {
  font-family: "Noto Sans", sans-serif;
}

 /* Style for inactive buttons */
 #section-buttons button:not(.is-active) {
  background-color: transparent;
  color: grey;
  border: none;
  outline: none;
  box-shadow: none;
}

/* Hover style for inactive buttons */
#section-buttons button:not(.is-active):hover {
  background-color: transparent;
  color: #363636; /* Darker text color on hover */
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

/* Active button style */
#section-buttons button.is-active {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  box-shadow: none;
}

#section-buttons button.is-active:hover{
  background-color: transparent;
  color: black;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}